.message {
	margin: 15px 0;
}

.message .message-username {
	font-size: 15px;
	color: #453F3A;
	opacity: 0.9;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-bottom: 6px;
}

.message .message-text {
	background: #836D52;
	color: #fff;
	display: inline;
	padding: 4px 8px;
	border-radius: 8px;
	font-family: 'Open Sans Condensed', sans-serif;
}